:root {
    --primary: #007d68;
    --Second : #3a3a3a;
    --third : #f2f2f2;
}

.banner{
    position: relative;
    width: 100%;
    // height: 100vh;
    padding: 100px 0 20px 10px;
    overflow: hidden;
    .nav{
        position: absolute;
        top: 42%;
        margin: 40px 0;
        z-index: 1100;
        li{
            list-style: none;
            margin: 0 20px 20px 0;
            .nav-btn{
                position: relative;
                background-color: rgb(6, 26, 29);
                text-decoration: none;
                border: none;
                padding: 15px;
                width: 55px;
                height: 55px ;
                border-radius: 30% 70% 65% 35% / 30% 38% 62% 70% !important;
                box-shadow: 0 0 10px 0 rgb(14, 77, 35);
                transition: .5s;
                cursor: pointer;
                &:hover{
                    border-radius: 50% !important;
                    background: var(--primary);
                }
                i{
                    font-size: 20px;
                    color: white;
                }


            }
        } 
    }
    .food-image img{
        width: 100%;
    }
    .content h1{
        font-family: "Great Vibes", cursive;
        font-size: 44px ;
        font-weight: 700;
        color: black;
        letter-spacing: 3px;
    }
    p{
        margin-top: 80px;
    }
    .page-btn{
        position: relative;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        color: white;
        background: black;
        // box-shadow: 0 0 25px black;
        padding: 10px 20px;
        border: none;
        border-radius: 20px 0 20px 0;
        transition: .5s;
        display: inline-flex;
        gap: 10px;
        cursor: pointer;
        &:hover{
            border-radius: 0 20px 0 20px;
        }

    }
}
// Responcsive //
@media (min-width:0px) and (max-width:575.99px){

    .banner{
        padding: 75px 0 0px 10px;
        .nav{
            top:12% !important;
           
            li{
                .nav-btn{
                    padding: 8px;
                }
            }
        }
   
        p{
            margin-top: 65px;
            font-size: 12px;
           
        }
        .content{
            margin-bottom: 40px;
            h1{
                font-size: 28px;
            }
        }
        .food-image{
            width: 100%;
        }
    }
    
}
@media (min-width:576px) and (max-width:767.99px){

    .banner{

        .nav{
            top:15%
        }
        p{
            margin-top: 85px;
           
        }
        .content{
            margin-bottom: 40px;
            h1{
                font-size: 28px;
            }
        }
        .food-image{
            width: 80%;
        }
    }
}
@media (min-width:768px) and (max-width:991.99px){

    .banner{

        .nav{
            top:68%
        }
        p{
            margin-top: 85px;
           
        }
        .content{
            margin-bottom: 40px;
        }
        .food-image{
            width: 80%;
        }
    }
}
@media (min-width:992px) and (max-width:1199.99px){

    .banner{

        .nav{
            top:72%
        }
        p{
            margin-top: 85px;
           
        }
        .content{
            margin-bottom: 40px;
        }
        .food-image{
            width: 65%;
        }
    }
}
@media (min-width:1200px) and (max-width:1399.99px){

  .banner{
    .nav{
        top: 38%;
    }
  }
}
